.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(204, 204, 204, 0.2);
	/* pointer-events: none; */
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 300px;
	max-width: 600px;
	width: 100%;
	padding: 10px;
	background-color: #fff;
}
